[submodule "dependencies/UnitTest++"]
	path = dependencies/UnitTest++
	url = git://github.com/Kanma/Athena-Dependencies-UnitTest-cpp.git
[submodule "dependencies/Athena-Math"]
	path = dependencies/Athena-Math
	url = git://github.com/Kanma/Athena-Math.git
