[submodule "dependencies/UnitTest++"]
	path = dependencies/UnitTest++
	url = git://github.com/Kanma/Athena-Dependencies-UnitTest-cpp.git
[submodule "dependencies/Athena-Math"]
	path = dependencies/Athena-Math
	url = git://github.com/Kanma/Athena-Math.git
[submodule "dependencies/Athena-Core"]
	path = dependencies/Athena-Core
	url = git://github.com/Kanma/Athena-Core.git
[submodule "dependencies/Athena-Entities"]
	path = dependencies/Athena-Entities
	url = git://github.com/Kanma/Athena-Entities.git
[submodule "dependencies/Athena-Graphics"]
	path = dependencies/Athena-Graphics
	url = git://github.com/Kanma/Athena-Graphics.git
[submodule "dependencies/Athena-Inputs"]
	path = dependencies/Athena-Inputs
	url = git://github.com/Kanma/Athena-Inputs.git
[submodule "dependencies/xmake"]
	path = dependencies/xmake
	url = git://github.com/Kanma/XMake.git
